# Dependencies
node_modules

package-lock.json

# Builds and output
.next
out
.turbo

# Environment and local config
.env.local
.env.development.local
.env.test.local
.env.production.local
.vercel

# OS / editors / logs
.DS_Store
*.log
*.tgz
coverage
dist
.idea
.vscode
